@use '/src/sass/variables' as v;
@use '/src/sass/mixins' as m;
.container {    
    color: v.$gray200;
    margin: 8em 5em;
    @include m.movil {
        margin: 8rem 1rem;
    }
}

.checkout__p {
    font-size: v.$font-h5;
    text-align: center;
    padding: .3em 0;
    @include m.movil {
        &:first-child {
            text-align: start;
        }
    }
}